*{
	margin: 0;
	padding: 0;
}

body{
	font-family: calibri;
}

/*header*/
header{
	display: flex;
	background-color: f7f7f7;
	width: 100%;
	text-align: left;
}
header p{
	padding-top: 1px;
	padding-left: 20px;
	padding-bottom: 1px;

}
nav p{
	width: 100%;
}
nav.navigate{
	display: flex;
	background-color: bc5b5b;
}

nav.navigate ul{
	display: flex;
	list-style: none;
	font-size: 15px;
	font-family: calibri;
}
nav.navigate li{
	margin: 5px;
	padding: 5px;
	background-color: none;
}
nav.navigate ul li a{
	color: white;
	text-decoration: none;
}

.logo{
	padding: 5px;
	background-color: #1111;
	padding-top: 5px;
}
.logo form{
	float: right;
	display: inline-block;
}
.logo ul li a{
	padding: 25px 20px;
	display: inline-block;
}

.card{
	width: 200px;
	background-color: #f1e7e6;
}
.card-footer{
	width: 100px
	background-color: #f1e7e6;
}
}